# Spark + ML libraries
pyspark>=3.3.1
pandas>=2.0
numpy>=1.23
scikit-learn>=1.1
xgboost>=1.6
lightgbm>=3.3
mlflow>=2.2
pyarrow>=10.0

# Visualization / EDA
matplotlib>=3.5
seaborn>=0.12
plotly

# Jupyter
jupyterlab
notebook

# Utils
tqdm
requests
findspark
